.BillBuilder{
    margin-top: 10px;
    padding: 10px;
    border: 2px solid #dee1e5;
}

.BillBuilder button{
    margin-top: 5px;
}
.clientsTable{
    width: 100%;
}

.clientsTable tbody tr{
    cursor: pointer;
}


.newClientInput{
    margin-right: 10px;
}